@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif !important;
}

.hero-header{
    height: 80vh;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.hero-header .header{
    text-align: center;
    width: 80%;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .8;
    padding: 1rem;
    color:white;
}